html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    color: #5d5d5d;
    font-size: 14px;
    line-height: 20px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
    color: #5d5d5d;
    font-size: 1rem;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.round-edge {
    border-radius: 10px;
}

.max-width {
    max-width: 1200px;
}

.button-navigation {
    padding: 12px 20px;
    background-color: #3870ff;
    box-shadow: 14px 14px 35px 0 rgb(33 38 106 / 10%);
    transition: .2s;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    color: #fff;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

.padded-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    min-height: auto;
    margin-right: auto;
    margin-left: auto;
}

.align-center {
    -ms-flex-pack: justify;
    -ms-flex-align: center;
    align-items: center;
}

.navigation {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 999;
    padding: 10px 3%;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.06);
    background-color: white;
}

.navigation-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
}

.w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    font-weight: 600;
    color: #222;
    padding: 10px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}

.home-header-text {
    display: inline-block;
    margin-bottom: 60px;
    font-size: 4rem;
    color: #222;
    text-align: center;
}

.home-header {
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding: 194px 3% 140px;
    background-color: #fff;
    box-shadow: 0px 14px 35px 0 rgb(33 38 106 / 10%);
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Noir Pro',sans-serif;
    font-weight: bold;
}

.div-block-7 {
    position: relative;
    display: inline-block;
    text-align: center;
}

.image-14 {
    position: absolute;
    top: 67px;
    right: 33px;
    bottom: auto;
}

.content-section {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: -2px;
    padding: 100px 0%;
    background-color: #fff;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    min-height: auto;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    margin: 10px 0 16px;
    color: #111;
    font-size: 3rem;
    line-height: 1.15;
    font-weight: 600;
    letter-spacing: -.01em;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #111;
    font-size: 2.2rem;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -.02em;
}

[class*=" w-icon-"], [class^=w-icon-] {
    font-family: webflow-icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}