* {
    font-family: "Circular std", sans-serif;
}

.button {
    padding: 12px 20px;
    background-color: #1D4ED8;
    box-shadow: 14px 14px 35px 0 rgb(33 38 106 / 10%);
    transition: .2s;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    color: #fff;
    line-height: inherit;
    border-radius: 16px 0px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.navigation {position: fixed}
